[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask = "*"
flask-jwt-extended = "*"
flask-mail = "*"
authlib = "*"
cloudinary = "*"
requests = "*"
flask-cors = "*"
flask-socketio = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
pytest = "*"
flask-testing = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
